#productContent{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    background-color: #F7F8F8;
}

#productContainer{
    width: 70%;
    height: 98%;
    display: flex;
    flex-direction: column;
}

#productOuter{
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
}

#productPart1{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#productImages{
    width: 12%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSm{
    width: 90%;
    height: 30%;
    margin-bottom: 12%;
    border: 2px solid #8C8C8C;
}

#productMainImg{
    width: 35%;
    height: 90%;
}

#productDesc{
    width: 40%;
    height: 90%;
}

#productPart2{
    width: 100%;
    height: 25%;
    border: 1px solid #8C8C8C;
}

#productPart2Header{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid #8C8C8C;
}
